@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Default Colors and Fonts*/
:root {
    --primary-color: #4F6D7A;
    --secondary-color: #C0D6DF;
    --accent1-color: #4A6FA5;
    --accent2-color: #166088;
  
    --heading-font: 'Kanit', 'Oswald', 'Arial', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  
    --headline-color-on-white: var(
      --primary-color
    ); 
    --headline-color-on-color: white; 
    --paragraph-color-on-white: var(
      --primary-color
    ); 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
  }

  /*Main Page Styles*/

  body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

  header {
    font-family: var(--heading-font);
    font-size: 2em;
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 5px solid black;
    
}

.menu {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    color: var(--nav-link-color);
}

.menu a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 100px;
}

.menu a:hover {
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
  align-items: stretch;
  font-family: var(--paragraph-font);
}

.pc-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid var(--accent2-color);
  padding: 10px;
}

.pc-picker button {
  border: 3px solid black;
  
  color: black;
  font-size: 1.5rem;
}

.pc-picker button:hover {
  color: var(--accent1-color);
}

.left-pc-details, .right-pc-details {
  border-radius: 25px;
  border: 1px solid var(--accent1-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 1500px;
  margin: 10px;
  font-family: var(--paragraph-font);
  font-size: 1.4rem;
}

h2 {
  font-family: var(--heading-font);
}

.left-pc-details img, .right-pc-details img {
  max-width: 50%;
  border-radius: 25px;
  border: 5px solid black;
}

.verticalBar {
  width: 2px;
  background-color: var(--accent2-color);
  margin: 10px;
}

.horizontalBar {
  display: none;
  height: 2px;
  background-color: var(--accent2-color);
  margin: 10px;
}


footer {
  font-family: var(--paragraph-font);
  font-size: 2em;
  padding: 3rem;
  /*background-color: var(--accent2-color);*/
  color: var(--text-light);
  margin: 0;
  text-align: right;
}



/*Support Page*/

.main-support, .support-info {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
  align-items: center;
  font-family: var(--paragraph-font);
}

.support-info {
  border: 3px solid black;
  border-radius: 30px;
}

.main-support img {
  border: 5px solid black;
  border-radius: 30px;
  max-width: 1000px;
}

.support-message {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  max-width: 1000px;
}

.support-form-container {
  border: 3px solid black;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  background-color: var(--secondary-color);
}

#supportform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#supportform label, #supportform input, #supportform textarea, #pc-options {
  margin: 3px;
  min-width: 400px;
  max-width: 1000px;
}

#supportform label {
  font-size: 2rem;
  font-family: var(--heading-font);
}

#supportform input, #supportform textarea, #pc-options {
  font-size: 1.5rem;
}

#question {
  height: 400px;
  width: 300px;
  font-size: 0.4rem;
}

.submit-button {
  font-family: var(--heading-font);
}

#support-confirmation {
  display: none;
  text-align: center;
  font-size: 2rem;
  font-family: var(--heading-font);
}



/*Change to vertical layout for small screens.*/
@media screen and (max-width: 1150px) {
  main {
    flex-direction: column;
  }

  .left-pc-details, .right-pc-details {
    max-width: 100%;
  }

  .horizontalBar {
    display: block;
    margin-bottom: 30px;
  }



}

/*Support Screen Shrink Image*/
@media screen and (max-width: 800px) {
  .main-support img {
    border: 5px solid black;
    border-radius: 30px;
    max-width: 400px;
  }
}

/*Shrink button font size to fit on small screen.*/
@media screen and (max-width: 600px) {

  .pc-picker button {
    border: 3px solid black;
    
    color: black;
    font-size: 1.1rem;
  }



}